<!DOCTYPE html>
<html>
    <head>
        <title>
            Help
        </title>
    </head>
    <body>
        {{>header}}
        <p>{{helpText}}</p>
        <p>{{>footer}}Tokio</p>
    </body>
</html>