<!DOCTYPE html>
<html>
    <head>
        <title>Weather</title>
        <link rel="stylesheet" href="./css/style.css">
        

    <body>
        Search the location for weather information
        <form>
            <input placefolder="Location">
            <button type="submit">Search</button>
        </form>

        <h1>{{>header}}</h1>
        <p>{{>footer}}{{name}}</p>

        <style src="/web-server/src/app.js"></style>
    </body>
</html>