<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <script src="../../utils/geocode.js"></script>
        <script src="../../utils/forecast.js"></script>
    </head>
    <body>
        Location: {{location}}
    </body>
</html>